Repository react-grid-layout/react-grid-layout, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, core, release, tests, deps, infrastructure

FIX: props containerPadding destructuring
  lib/GridItem.jsx
Labels: core

add missing parenthesis
  README.md
Labels: documentation

feat(github): add release automation with provenance
  .github/release.yml
  .github/workflows/release.yml
Labels: infrastructure

feat(github): add release automation with provenance (#1890)
  .github/release.yml
  .github/workflows/release.yml
Labels: infrastructure

add missing parenthesis (#1887)
  README.md
Labels: documentation

fix(release): typo in build-command
  .github/workflows/release.yml
Labels: infrastructure

fix(workflows): upg to node 16
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: infrastructure

fix(workflows): upg to node 16 (#1891)
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: infrastructure

callbacks should return updated layout (#1613)
  lib/ReactGridLayout.jsx
Labels: core

.github/labeler.yml:

documentation:
  - test/examples/**/*
  - README.md
  - examples/**/*

core:
  - lib/**/*

release:
  - dist/**/*

tests:
  - test/spec/**/*

deps:
  - yarn.lock

infrastructure:
  - .github/**/*
  - .babelrc
  - .eslintignore
  - .eslintrc.json
  - .flowconfig
  - .gitignore
  - .npmignore
  - .travis.yml
  - build.sh
  - package.json
  - webpack*
