Repository react-grid-layout/react-grid-layout, pull requests merged in 2019-11, with the labels that each got.

#1044 #901 Forbid change layout on click without drag
  lib/ReactGridLayout.jsx
Labels: bug, core

#1038 Fixed a minor bug which prevents showing 'Add +'
  test/examples/6-dynamic-add-remove.jsx
Labels: stale

#1060 fix(GridItem): ensure locally set isDraggable/isResizable overrides globals
  README.md
  lib/ReactGridLayout.jsx
  lib/utils.js
Labels: core, documentation

#1086 Update Readme.md code sample 💅
  README.md
Labels: documentation
