Repository react-grid-layout/react-grid-layout, pull requests merged in 2019-10, with the labels that each got.

#1016 added an ability to use different margins for different breakpoints. #964
  README.md
  lib/ResponsiveReactGridLayout.jsx
Labels: enhancement

#1035 chore(actions): add action for removing stale issues and RPs
  .github/workflows/stale.yml
Labels: enhancement

#1036 chore(actions): add an action for auto adding lables on PR creating
  .github/labeler.yml
  .github/workflows/label.yml
Labels: enhancement, infrastructure

#1037 chore(actions): increase operations count and runs frequency
  .github/workflows/stale.yml
Labels: enhancement, infrastructure

#1013 chore(deps): upgrade to babel 7
  .babelrc
  .babelrc.js
  .flowconfig
  Makefile
  examples/0-showcase.html
  examples/1-basic.html
  examples/10-dynamic-min-max-wh.html
  examples/11-no-vertical-compact.html
  examples/12-prevent-collision.html
  examples/13-error-case.html
  examples/14-toolbox.html
  examples/15-drag-from-outside.html
  examples/2-no-dragging.html
  examples/3-messy.html
  examples/4-grid-property.html
  examples/5-static-elements.html
  examples/6-dynamic-add-remove.html
  examples/7-localstorage.html
  examples/8-localstorage-responsive.html
  examples/9-min-max-wh.html
  examples/template.ejs
  package.json
  test/dev-hook.jsx
  test/examples/0-showcase.jsx
  test/examples/1-basic.jsx
  test/examples/10-dynamic-min-max-wh.jsx
  test/examples/11-no-vertical-compact.jsx
  test/examples/12-prevent-collision.jsx
  test/examples/13-error-case.jsx
  test/examples/14-toolbox.jsx
  test/examples/15-drag-from-outside.jsx
  test/examples/16-responsive-bootstrap-style.jsx
  test/examples/2-no-dragging.jsx
  test/examples/3-messy.jsx
  test/examples/4-grid-property.jsx
  test/examples/5-static-elements.jsx
  test/examples/6-dynamic-add-remove.jsx
  test/examples/7-localstorage.jsx
  test/examples/8-localstorage-responsive.jsx
  test/examples/9-min-max-wh.jsx
  test/test-hook.jsx
  webpack-dev-server.config.js
  webpack-examples.config.js
  webpack.config.js
  yarn.lock
Labels: deps, documentation, infrastructure

#1041 Unify prettier config
  .prettierrc
Labels: infrastructure
