Repository react-grid-layout/react-grid-layout, pull requests merged in 2020-02, with the labels that each got.

#892 fix: dynamic isDraggable and isResizable remount
  css/styles.css
  lib/GridItem.jsx
Labels: bug, core, stale

#1142 Add link to users recipes wiki
  README.md
Labels: documentation

#1123 Add `shouldComponentUpdate` to major components.
  .babelrc.js
  lib/GridItem.jsx
  lib/ReactGridLayout.jsx
  lib/ReactGridLayoutPropTypes.js
  lib/ResponsiveReactGridLayout.jsx
  lib/calculateUtils.js
  lib/fastRGLPropsEqual.js
  lib/utils.js
  package.json
  test/spec/utils-test.js
  yarn.lock
Labels: deps, enhancement, infrastructure
