Repository react-grid-layout/react-grid-layout, pull requests merged in 2021-03, with the labels that each got.

#1375 new link added to the 'Projects Using' list
  README.md
Labels: documentation, stale

#1409 Add react and react-dom peerDependency
  package.json
Labels: infrastructure

#1427 fix: cancel update width when width is 0 #924 #1084
  lib/components/WidthProvider.jsx
Labels: core
